---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import Contributors from '../components/Contributors.astro'
import ExternalResources from '../components/ExternalResources.astro'
import GuideList from '../components/GuideList.astro'
const guides = await Astro.glob('./guides/*.md');

---

<DefaultLayout title="Home" hideContinue={true}>
  <Hero />
  <!-- <section class="mt-64 mb-32">
    <h2 class="mb-16 text-6xl text-center">Contributors</h2>
    <Contributors />
  </section>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl text-center">Guides</h2>
      <GuideList guides={guides} />
    </div>
  </section>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl text-center">External Resources</h2>
      <ExternalResources />
    </div>
  </section> -->
  <!-- <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section> -->
</DefaultLayout>

<style lang="scss">
  section {
    width: 96vw;
    margin: 0 auto;
  }
  .guide-link {
    text-decoration: none !important;
  }
</style>
