---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import fetch from 'node-fetch';
import { languages } from './languages'
import RepoList from './RepoList.svelte';
import LanguageHeader from './LanguageHeader.svelte';

const { language } = Astro.params;

let repos = [];

const currentLanguage = languages.find((lang) => lang.identifier === language);

export async function getStaticPaths() {
  return languages.map((lang) => {
    return { params: { language: lang.identifier } }
  });
}

const API_KEY = process.env.GH_ACCESS_TOKEN;

const fetchRepos = async () => {
  const url = `https://api.github.com/search/repositories?q=language:${language}&sort=stars&order=desc`;
  const data = fetch(url, { headers: { 'Authorization': `token ${API_KEY}`}} );
  const result = await (await data).json();
  return result?.items || [];
};

repos = await fetchRepos();

---

<DefaultLayout name="Find a Project">
  <section class="wrapper">
    <a href="/find-projects" class="back">↩ Back</a>
    { language && 
    <>
      <LanguageHeader language={currentLanguage} />
      <RepoList repos={repos} />
    </>
    }
  </section>
</DefaultLayout>

<style lang="scss">
  .wrapper {
    max-width: 90vw;
    margin: 1rem auto;
    .back {
      color: var(--font-color-pale);
      border: 1px solid var(--font-color-pale);
      text-decoration: none;
      border-radius: 4px;
      padding: 0.1rem 0.25rem;
      margin-bottom: 0.5rem;
      display: block;
      width: fit-content;
      transition: 0.15s all ease-in-out;
      &:hover {
        background: var(--font-color-pale);
        color: var(--background);
      }
    }
  }

</style>
