---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import { languages } from './languages'
import LanguageList from './LanguageList.svelte';

---
<DefaultLayout name="Find a Project">
<section>
  <LanguageList languages={languages} />
</section>
</DefaultLayout>
