---

import yaml from 'js-yaml';

const resourcesUrl = 'https://raw.githubusercontent.com/Lissy93/git-into-open-source/main/resources.yml'

const fetchResources = async (url) => {
  const response = await fetch(url);
  const textData = await response.text();
  const data = yaml.load(textData);
  return data.resources || [];
};

const resources = await fetchResources(resourcesUrl);

const getHostname = (url) => {
  try {
    const { hostname } = new URL(url);
    return hostname;
  } catch (error) {
    return 'as93.net';
  }
};

---


<section>
  <h2>Resources</h2>
  <ul class="resource-wrapper">
    { resources && resources.map((resource) => (
      <li>
        <img src={`https://favicone.com/${getHostname(resource.url)}?s=32`} />
        <a href={resource.url}>{resource.title}</a>
      </li>
    )
    ) }
  </ul>
</section>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;


  h2 {
    @apply mx-auto max-w-screen-xl m-3 mt-12;
  }

  .resource-wrapper {

      @apply
        mx-auto
        max-w-screen-xl
        px-4;
        
      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.2rem;
        margin: 0.25rem 0;
        img {
          width: 16px;
          border-radius: 4px;
        }
      }
  }
  
</style>
