---
import { Icon } from 'astro-icon'

const callToActionLinks = [
  {
    href: 'guestbook',
    icon: 'edit-twotone',
    text: 'Guestbook',
    description: 'Sign the guestbook, by submitting a PR',
  },
  {
    href: 'guides',
    icon: 'laptop-twotone',
    text: 'Guides',
    description: 'Tutorials to help you get started',
  },
  {
    href: 'find-projects',
    icon: 'search-twotone',
    text: 'Find Projects',
    description: 'Browse open source projects welcoming to first-time contributors',
  },
  // {
  //   href: 'roadmap',
  //   icon: 'arrows-horizontal-alt',
  //   text: 'Roadmap',
  //   description: 'A roadmap to help you go from zero to hero in open source',
  // },
  {
    href: 'https://github.com/lissy93/git-into-open-source',
    icon: 'github-twotone',
    text: 'Continue on GitHub',
    description: 'Discover more, and contribute via our GitHub repository',
  },
];

---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-3">
      <div class="flex flex-col items-center col-span-2 gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot>
            Git into<br />
            <span class="text-gradient">Open Source</span></slot>
        </h1>
        <div class="subtitle">
          <p class="l1">Tools, guides and resources to help you kickstart your open source journey</p>
          <p class="l2 opacity-75">
            Not sure where to start? Why not submit a PR adding your username to
            <a href="https://github.com/lissy93/git-into-open-source/blob/main/git-in-here.yml">
              <code>git-in-here.yml</code>
            </a>!
          </p>
        </div>
        <div class="flex flex-col gap-3 min-[500px]:flex-row flex-wrap">
          { callToActionLinks.map((link, indx) => (
            <a href={link.href} class={`button has-icon ${indx !== callToActionLinks.length -1 ? 'color-secondary' : '' }`}>
              <Icon pack="line-md" name={link.icon} />
              {link.text}
            </a>
          ))}
        </div>
      </div>
      <img class="swim" src="octocat-swim.png" alt="Git In!" />
    </div>
  </div>
</section>

<style lang="scss">
  .subtitle {
    color: var(--font-color-pale);
    .l1 {
      font-weight: bold;
      font-size: 1.2rem;
    }
    l2 {
      font-size: 1rem;
    }
  }
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .swim {
    width: 100%;
    max-width: 420px;
  }
</style>
